.background {
  background: url("Images/meals.jpeg") center/cover;
  width: 100%;
  height: 15rem;
}

.sum {
  color: white;
  text-align: center;
  background-color: #313131;
  padding: 10px;
  border-radius: 20px;
  max-width: 85vw;
  margin: 0 auto;
  margin-top: -3rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.sum p {
  font-weight: 100;
}

@media (min-width: 40rem) {
  .background {
    height: 20rem;
  }

  .sum {
    margin: -3rem auto 0 auto;
    max-width: 60vw;
  }
}
