.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal {
  position: fixed;
  max-width: 80%;
  min-width: 267px;
  background-color: white;
  z-index: 100;
  border-radius: 20px;
  top: 20vh;
  left: 0;
  right: 0;
  margin: auto auto;
  padding: 30px;
  flex-direction: column;
  box-shadow: 0 0 18px 10px rgba(0, 0, 0, 0.5);
}

.ordered-meal {
}

.total-amount {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.total-amount div {
  display: inline-block;
}

.total-amount h2 {
  margin: 0;
  display: inline-block;
}

.buttons > Button {
  margin-right: 10px;
  margin-bottom: 3px;
  float: right;
}

.close {
  background-color: white;
  color: #761f08;
}
