.form {
  max-width: 50%;
  justify-content: space-around;
}

.form input {
  border-radius: 10px;
  height: 40px;
  padding: 8px;
  margin-top: 5px;
  border: 1px black solid;
  font-family: inherit;
  font-size: large;
}

@media (max-width: 700px) {
  .form {
    top: 10vh;
    min-width: 100%;
  }
}
