.container {
  display: flex;
  justify-content: space-between;
  border-bottom: #761f08 1px solid;
  padding: 3px 0;
}

.container p {
  margin: 0;
  display: inline-block;
}

.info {
  display: grid;
  grid-template-rows: fit-content(4rem) fit-content(10rem);
  grid-template-columns: minmax(4rem, auto) fit-content(10rem);
  grid-template-areas:
    "name name"
    "price amount";
}

.info h3 {
  grid-area: name;
}

.price {
  grid-area: price;
  color: #761f08;
  font-weight: bold;
  padding: 3px 0;
  height: auto;
}

.amount {
  grid-area: amount;
  border: 1px solid #ccc;
  min-width: 50px;
  min-height: 30px;
  text-align: center;
  border-radius: 30px;
  padding: 2px;
}

.buttons {
  width: 5rem;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  margin: 2px;
  padding: 10px;
  width: 50px;
}

@media (min-width: 20rem) {
  .info {
    grid-template-columns: 6rem fit-content(10rem);
  }

  .amount {
    overflow: auto;
  }
}
