.button {
  padding: 8px 30px;
  background-color: #761f08;
  color: white;
  font-family: inherit;
  border-radius: 20px;
  border: 1px #761f08 solid;
  cursor: pointer;
  margin: 10px;
}

.button:hover,
.button:active {
  background-color: white;
  color: #761f08;
  font-weight: bold;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.3);
}
